<div class="author-card flex flex-col justify-center w-3/4 md:w-2/5 m-auto mt-16 px-12 pb-12 shadow-md rounded-lg text-center">
  <figure class="mb-4">
    <img class="block rounded-full m-auto w-64 p-8 md:p-12" src="{{ author.avatar }}" alt="{{ author.name }}">
    <figcaption class="font-bold text-{{ site.colors.accent }}-600">{{ site.author.name }}</figcaption>
  </figure>
  <p class="text-sm mb-8">{{ author.bio }}</p>
  {% include 'components/social-icons.njk' %}
</div>
