<div class="footer-wrapper">
  <footer id="footer" class="footer bg-{{ site.colors.main }}-900">
    <div class="footer-inner container m-auto md:flex lg:justify-between items-center py-10">
      <p class="text-{{ site.colors.main }}-100 pb-8 md:pb-0 text-center">
        © 2019 {{ site.name }}. Built with <a class="no-underline hover:text-{{ site.colors.accent }}-500" href="https://streamsites.xyz/">Stream Sites.</a>
      </p>
      {% include 'components/social-icons.njk' %}
    </div>
  </footer>
</div>
