{# {% include 'components/livealert.njk' %} #}

<header id="header" class="header bg-{{ site.colors.main }}-900 p-8 border-b border-{{ site.colors.main }}-900">
	<div class="container flex flex-wrap justify-between items-center m-auto">

		<a class="company-logo-link block text-white font-bold text-3xl md:mb-0 no-underline" href="/" aria-label="Back to home">
		  {% if navigation.nav_logo === "true" %}
		    <img src="{{ site.logo }}" alt="{{ site.name }}" class="h-16 w-auto">
		  {% else %}
		    {{ site.name }}
		  {% endif %}
		</a>

	  <label for="menu-toggle" class="pointer-cursor lg:hidden block">
			<svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><title>menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path></svg>
		</label>
	  <input class="hidden" type="checkbox" id="menu-toggle" />

	  <div class="hidden lg:flex lg:items-center lg:w-auto w-full" id="menu">
	    <nav class="xs:w-full text-center">
	      <ul class="lg:flex items-center justify-between text-base text-white pt-4 lg:pt-0">
					{% for item in navigation.main %}
			      <li>
			        <a href="{{ item.url | safe }}" class="lg:p-4 py-3 px-0 block font-bold hover:text-{{ site.colors.accent }}-400">{{ item.label }}</a>
			      </li>
			    {% endfor %}
					<li>
			      <a class="inline-block rounded md:ml-2 py-3 px-6 text-white font-bold bg-{{ site.colors.accent }}-600 hover:bg-{{ site.colors.accent }}-400 no-underline" href="{{ navigation.nav_button.button_link | safe }}" target="_blank" rel="noopener">{{ navigation.nav_button.button_text }}</a>
			    </li>
	      </ul>
	    </nav>
		</div>
  </div>

</header>
