<header id="header" class="header bg-{{ site.colors.color_accent }}-darkest flex flex-col md:flex-row md:justify-between items-center p-8 border-b border-{{ site.colors.color_accent }}-darker">
	{% include "components/logo.njk" %}
	{% include 'components/nav.njk' %}
</header>
