{% include 'components/livealert.njk' %}

<header id="header" class="header bg-{{ site.colors.main }}-darkest  p-8 border-b border-{{ site.colors.main }}-darkest">
	{# {% include 'components/logo.njk' %} #}
	{% include 'components/nav.njk' %}
</header>
