{#
TO-DO:
- Add seo.meta_description / seo.except fallback to Site Level SEO description
- Replace social.images.THING with new path when globals/seo.json is created
#}

{# Site #}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% if seo.meta_title %}{{ seo.meta_title }}{% elif title %}{{ title }} | {{ site.name }}{% else %}{{ title }} | {{ seo.site_title }}{% endif %}</title>
<meta name="description" content="{% if seo.meta_description %}{{ seo.meta_description }}{% elif seo.excerpt %}{{ seo.excerpt }}{% else %}{{ seo.site_description }}{% endif %}">
<link rel="canonical" href="{{ site.url }}{{ page.url }}">

{# Google Schema #}
<meta itemprop="name" content="{% if seo.meta_title %}{{ seo.meta_title }}{% elif title %}{{ title }} | {{ site.name }}{% else %}{{ title }} | {{ seo.site_title }}{% endif %}">
<meta itemprop="description" content="{% if seo.meta_description %}{{ seo.meta_description }}{% elif seo.excerpt %}{{ seo.excerpt }}{% else %}{{ seo.site_description }}{% endif %}">

{# Twitter #}
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{% if seo.meta_title %}{{ seo.meta_title }}{% elif title %}{{ title }} | {{ site.name }}{% else %}{{ title }} | {{ seo.site_title }}{% endif %}">
<meta name="twitter:description" content="{% if seo.meta_description %}{{ seo.meta_description }}{% elif seo.excerpt %}{{ seo.excerpt }}{% else %}{{ seo.site_description }}{% endif %}">
<meta name="twitter:site" content="{{ author.twitter_handle }}">
<meta name="twitter:creator" content="{{ author.twitter_handle }}">
<meta name="twitter:image:src" content="{{ site.url }}{{ social.images.twitter_og }}">

{# Open Graph #}
<meta name="og:title" content="{% if seo.meta_title %}{{ seo.meta_title }}{% elif title %}{{ title }} | {{ site.name }}{% else %}{{ title }} | {{ seo.site_title }}{% endif %}">
<meta name="og:description" content="{% if seo.meta_description %}{{ seo.meta_description }}{% elif seo.excerpt %}{{ seo.excerpt }}{% else %}{{ seo.site_description }}{% endif %}">
<meta name="og:image" content="{{ site.url }}{{ social.images.og }}">
<meta name="og:url" content="{{ site.url }}{{ page.url }}">
<meta name="og:site_name" content="{{ site.name }}">
<meta name="og:locale" content="en_US">
<meta name="og:type" content="website">
