{% set metaTitle =  seo.meta_title or renderData.title or title or seo.site_title or site.name %}
{% set metaDescription = seo.meta_description or seo.excerpt or seo.site_description %}
{% set metaImage = featured_image or seo.meta_image %}
{% set metaImageAlt = image_caption or seo.site_image_alt %}

{# Site #}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title }} | {{ site.name }}</title>
<meta name="description" content="{{ metaDescription }}">
<link rel="canonical" href="{{ site.url }}{{ page.url }}">

{# Google Schema #}
<meta itemprop="name" content="{{ metaTitle }}">
<meta itemprop="description" content="{{ metaDescription }}">

{# Social Media #}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" property="og:title" content="{{ metaTitle }}">
<meta name="twitter:description" property="og:description" content="{{ metaDescription }}">
<meta name="twitter:image:src" property="og:image:url" content="{{ site.url }}{{ metaImage }}">
<meta name="twitter:image:alt" property="og:image:alt" content="{{ metaImageAlt }}">
<meta name="og:site_name" content="{{ site.name }}">
<meta name="og:url" content="{{ site.url }}{{ page.url }}">
<meta name="og:locale" content="en_US">
<meta name="og:type" content="website">
<meta name="twitter:site" content="{{ seo.site_author }}">
<meta name="twitter:creator" content="{{ seo.site_author }}">

{% if twitchLive.status %}
<meta name="twitch:status" content="{{ twitchLive.status }}">
<meta name="twitch:title" content="{{ twitchLive.title }}">
{% endif %}
