<nav id="nav" class="flex justify-between flex-col md:flex-row items-center flex-wrap">

  {% include 'components/logo.njk' %}

  <ul class="menu flex flex-col md:flex-row items-center list-reset text-base">
    {% for item in navigation.main %}
      <li class="level-1 mb-4 md:mr-4 md:mb-0">
        <a href="{{ item.url | safe }}" class="link font-bold text-white hover:text-{{ site.colors.accent }}-500 no-underline">{{ item.label }}</a>
      </li>
    {% endfor %}
    <li>
      <a class="inline-block rounded md:ml-2 py-3 px-6 text-white font-bold bg-{{ site.colors.accent }}-600 hover:bg-{{ site.colors.accent }}-400 no-underline" href="{{ ctas.navigation.button_link | safe }}" target="_blank" rel="noopener">{{ ctas.navigation.button_text }}</a>
    </li>
  </ul>

</nav>
