{% for post in postslist %}

    <article class="post mb-8 mx-4 flex-1 bg-white rounded-lg overflow-hidden shadow-md hover:shadow-lg">

      {# featured post image & category #}
      {% if post.data.featured_image %}
        <figure class="relative">
          <div class="absolute bottom-0 left-0 flex mx-3">
            {% for item in post.data.tags %}
              {% set tagUrl %}/tags/{{ item }}/{% endset %}
              <a href="{{ tagUrl | url }}" rel="tag"><p class="bg-{{ site.colors.accent }}-600 px-4 py-2 text-white text-xs font-bold rounded my-6 ml-3">{{ item }}</p></a>
            {% endfor %}
          </div>
          <a href="{{ post.url }}">
            <img src="{{ post.data.featured_image }}" alt="{{ post.data.image_caption }}" class="block rounded-t-lg">
          </a>
        </figure>
      {% endif %}

      <a class="block text-{{ site.colors.main }}-800 no-underline p-8" href="{{ post.url }}">
        <h2 class="text-3xl mb-6">{{ post.data.title }}</h2>
        <p class="text-sm text-gray-600 mb-4">By {{ author.name }}, <time datetime="{{ post.date }}" class="mb-0">{{ post.date | dateDisplay }}</time></p>
      </a>

    </article>

{% endfor %}
