{% for post in postslist %}

  <a class="block text-{{ site.colors.main }}-800 no-underline" href="{{ post.url }}">
    <article class="post mb-8 mx-4 flex-1 bg-white rounded-lg overflow-hidden shadow-md hover:shadow-lg">

      {# featured post image & category #}
      {% if post.data.featured_image %}
        <figure class="relative">
          <p class="absolute bottom-0 left-0 bg-{{ site.colors.accent }}-600 px-4 py-2 text-white text-xs font-bold rounded m-6">{{ post.data.tags }}</p>
          <img src="{{ post.data.featured_image }}" alt="{{ post.data.image_caption }}" class="block rounded-t-lg">
        </figure>
      {% endif %}

      <div class="p-8">
        <h2 class="text-3xl mb-6">{{ post.data.title }}</h2>
        <div class="text-sm text-gray-600 md:flex mb-4">
          <p class="author">By {{ author.name }}</p>
          <p class="hidden md:block px-2">—</p>
          <time datetime="{{ post.date }}" class="mb-0">{{ post.date | dateDisplay }}</time>
        </div>
      </div>

    </article>
  </a>

{% endfor %}
