---
layout: default.njk
---
{#
You Are Here:
- Home
- src/site/_layouts/home.njk

This is a WIP.
#}
<section class="items-center">

  <h1 class="page-title text-5xl">{{ title }}</h1>

  <div class="content">
    {{ content | safe }}
  </div>

</section>
