{#
This File: src/site/_includes/twitch-component.njk
Used In: src/site/_themes/../default.njk
#}
<twitch-promo username="{{ site.twitch_handle }}" clientid="{{ site.twitch_client }}"></twitch-promo>
