@tailwind base;

/**
 * Links
 */
main a:-webkit-any-link,
main a,
#footer a:-webkit-any-link,
#footer a {
  color: inherit;
}

.sr-skip-link:focus,
main:focus {
  outline: none;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
}
.sr-skip-link {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.sr-skip-link:active, .sr-skip-link:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
}
.sr-skip-link:focus {
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 1rem;
  transform: translateX(-50%);
  background-color: #3d4852;
  color: #fff;
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 1rem 1.5rem;
  z-index: 1;
}

/**
 * Typography
 * These sizes apply to all NJK and MD files
 */
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
 	@apply font-bold leading-tight mt-6 mb-6;
 }
 h1 {
 	@apply text-5xl;
 }
 h2 {
 	@apply text-4xl;
 }
 h3 {
 	@apply text-3xl;
 }
 h4 {
 	@apply text-2xl;
 }
 h5 {
 	@apply text-xl;
 }
 h6 {
 	@apply text-lg;
 }
 code {
 	@apply bg-black text-white px-2 py-1 text-sm;
 }
 code[class*="language-"],
 pre[class*="language-"] {
 	font-size: 1rem;
 }

/**
 * Syntax Highlight
 * atom-dark theme for `prism.js`
 * Based on Atom's `atom-dark` theme: https://github.com/atom/atom-dark-syntax
 * @author Joe Gibson (@gibsjose)
 *
 * Want a different syntax theme?
 * Pick one from https://github.com/PrismJS/prism-themes
 * and replace the contents of this section
 */

code[class*="language-"],
pre[class*="language-"] {
	background: transparent;
	color: #c5c8c6;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier, monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #1d1f21;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

/* Tokens */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #7C7C7C;
}
.token.punctuation {
	color: #c5c8c6;
}
.namespace {
	opacity: .7;
}
.token.property,
.token.keyword,
.token.tag {
	color: #96CBFE;
}
.token.class-name {
	color: #FFFFB6;
	text-decoration: underline;
}
.token.boolean,
.token.constant {
	color: #99CC99;
}
.token.symbol,
.token.deleted {
	color: #f92672;
}
.token.number {
	color: #FF73FD;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #A8FF60;
}
.token.variable {
	color: #C6C5FE;
}
.token.operator {
	color: #EDEDED;
}
.token.entity {
	color: #FFFFB6;
	/* text-decoration: underline; */
}
.token.url {
	color: #96CBFE;
}
.language-css .token.string,
.style .token.string {
	color: #87C38A;
}
.token.atrule,
.token.attr-value {
	color: #F9EE98;
}
.token.function {
	color: #DAD085;
}
.token.regex {
	color: #E9C062;
}
.token.important {
	color: #fd971f;
}
.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}
.token.entity {
	cursor: help;
}

@tailwind components;

/*
 * Blog
 */

.content .intro {
	@apply border-b border-gray-300 text-2xl pb-10 mb-10 font-light;
}
/* for md: breakpoint and up */
@media screen and (min-width: 768px) {
  .content .intro {
    @apply text-3xl;
  }
}

.md-toc {
 @apply bg-gray-100 p-4;
}

.md-toc-header {
 font-weight: 700;
}

.content.post > ul,
.md-toc ul {
 display: block;
 list-style-type: disc;
 margin-top: 1em;
 margin-bottom: 1em;
 margin-left: 0;
 margin-right: 0;
 padding-left: 40px;
}

.md-toc ul > li > * {
 @apply my-0;
}

.content .bookmark {
	opacity: .75;
}

.content p {
	@apply mb-8;
}

.content p:last-of-type {
	@apply mb-0;
}

.content.post > img {
 width: 100%;
 height: auto;
}

.content ol,
.footnotes-list {
 display: block;
 list-style-type: decimal;
 margin-top: 1em;
 margin-bottom: 1em;
 margin-left: 0;
 margin-right: 0;
 padding-left: 40px;
}

.footnotes-sep {
 @apply mt-8 border-b border-gray-300 border-t-0 border-r-0 border-l-0;
}

/*
 * Responsive iframes
 * always ignored for purgecss
 */
.resp-container,
.embed-responsive,
.embed-responsive-16by9 {
 position: relative;
 overflow: hidden;
 padding-top: 56.25%;
}

.resp-container iframe,
.embed-responsive iframe,
.resp-iframe {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 border: 0;
}
.resp-container .preview-image {
 bottom: 0;
 display: block;
 left: 0;
 margin: auto;
 max-width: 100%;
 width: 100%;
 position: absolute;
 right: 0;
 top: 0;
 height: auto;
 cursor: pointer;
}
.resp-container .play-icon {
 height: 72px;
 width: 72px;
 left: 50%;
 top: 50%;
 margin-left: -36px;
 margin-top: -36px;
 position: absolute;
 background: url("../images/play_thumb.png") no-repeat;
 cursor: pointer;
}

@tailwind utilities;

#menu-toggle:checked + #menu {
  display: block;
}

ol.footnotes-list > li > p {
  display: contents;
}

ol.footnotes-list {
  padding-top: 16px;
}

hr.footnotes-sep {
  margin-top: 32px;
}

a.bookmark {
  display: none;
}

li.footnote-item {
  padding-bottom: 16px;
}

li.footnote-item:last-of-type {
  padding-bottom: 0px;
}
