{#
You Are Here:
- Form
- src/site/_includes/form.njk

How It Works:
- On build, this is placed on every page with `{% include "form.njk" %}`

Dynamic Data:
- anything in {{ curly braces }} is a variable from src/site/_globals
#}

<form name="contact" method="POST" data-netlify="true">
  <div class="mb-4">
    <label class="block text-{{ site.colors.main }}-900 dark:text-{{ site.colors.main }}-100 mb-2" for="name">Name</label>
    <input class="form-input appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text">
  </div>

  <div class="mb-4">
    <label class="block text-{{ site.colors.main }}-900 dark:text-{{ site.colors.main }}-100 mb-2" for="email">Email</label>
    <input class="form-input appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" id="email" type="text">
  </div>

  <div class="mb-4">
    <label class="block text-{{ site.colors.main }}-900 dark:text-{{ site.colors.main }}-100 mb-2" for="message">Message</label>
    <textarea class="form-textarea appearance-none border rounded w-full py-2 px-3 h-32 leading-tight focus:outline-none focus:shadow-outline" id="message"></textarea>
  </div>

  <div class="mb-4">
    <button class="inline-block rounded py-4 px-6 text-white font-bold bg-{{ site.colors.accent }}-600 hover:bg-{{ site.colors.accent }}-400" type="submit">Send message!</button>
  </div>
</form>
