{% if stream.type == "live" %}
{% include 'components/livealert.njk' %}
{% endif %}

<header id="header" class="header bg-{{ site.colors.main }}-900 p-8 border-b border-{{ site.colors.main }}-900">
	<div class="container flex flex-wrap justify-between items-center m-auto">

		<a class="company-logo-link block text-white font-bold text-3xl md:mb-0 no-underline" href="/" aria-label="Back to home">
		  {% if navigation.nav_logo %}
		    <img src="{{ site.logo }}" alt="{{ site.name }}" class="h-16 w-auto">
		  {% else %}
		    {{ site.name }}
		  {% endif %}
		</a>

	  <label for="menu-toggle" class="pointer-cursor lg:hidden block">
			<svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><title>Toogle Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path></svg>
		</label>
		<input class="sr-only" type="checkbox" id="menu-toggle" />

	  <div class="hidden lg:flex lg:items-center lg:w-auto w-full" id="menu">
	    <nav class="xs:w-full text-center">
	      <ul class="lg:flex items-center justify-between text-base text-white list-none pt-4 lg:pt-0">
					{% for item in navigation.main %}
			      <li>
			        <a href="{{ item.url | safe }}" class="lg:p-4 py-3 px-0 block font-bold hover:text-{{ site.colors.accent }}-400">{{ item.label }}</a>
			      </li>
			    {% endfor %}
					<li><button class="darkmodebtn js-darkmode-toggle lg:p-4 py-3 px-0" title="Toggle Dark Mode" role="switch" aria-checked="false" tabindex="1">
						<svg class="icon-light" fill="currentColor" stroke="currentColor" role="img" aria-hidden="true" width="18" height="18">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/icon-library.svg#icon-sun"></use>
						</svg>
						<svg class="icon-dark" fill="currentColor" stroke="currentColor" role="img" aria-hidden="true" width="18" height="18">
		          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/icon-library.svg#icon-moon"></use>
		        </svg>
			    </button></li>
		      <li><a class="inline-block rounded md:ml-3 py-3 px-6 text-white font-bold bg-{{ site.colors.accent }}-600 hover:bg-{{ site.colors.accent }}-400 no-underline" href="{{ navigation.nav_button.button_link | safe }}" target="_blank" rel="noopener">{{ navigation.nav_button.button_text }}</a></li>
				</ul>
	    </nav>
		</div>
  </div>

</header>
