<div class="bg-{{ site.colors.main }}-800 text-center py-1 lg:px-4 w-full">
	<a class="no-underline" href="https://twitch.tv/{{stream.user_name}}" target="_blank">
		<div class="p-2 flex flex-wrap justify-center items-center text-white leading-none text-base md:rounded-full md:inline-flex" role="alert">
			<p class="flex rounded-full bg-{{ site.colors.accent }}-600 text-white uppercase px-2 py-1 text-xs font-bold">Live</p>
			<p class="font-bold text-left flex-auto text-base px-2 py-1">{{ stream.title }}</p>
		</div>
	</a>
</div>
