{#
You Are Here:
- Site Meta
- src/site/_includes/meta.njk

How It Works:
- On build, this is placed on every page with `{% include "meta.njk" %}`

Dynamic Data:
- anything in {{ curly braces }} is a variable from src/site/_globals
- aliases are defined in `{% set %}`

Gotchas:
- You can't put Nunjucks code inside a <script>

TODO:
nunjucks does not work in ld+json section
```json
"sameAs":[
  {% for link in social %}
    "{{ link | safe }}",
  {% endfor %}
],
```
#}

{% set title = archive_title or heading or title %}
{% set metaTitle =  seo.meta_title or renderData.title or title or site.name %}
{% set metaDescription = seo.meta_description or seo.excerpt or renderData.desc or site.description %}
{% set metaImage = image_card or site.image_card %}
{% set metaImageAlt = image_caption or site.image_card_alt %}
{% set keywords = seo.keywords or site.keywords %}
{% set authorName = site.author_name %}
{% set authorTwitter = site.author_twitter %}

{# Site #}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% if title %}{{ title }} | {% endif %}{{ site.name }}</title>
<meta name="description" content="{{ metaDescription }}">
<meta name="keywords" content="{{ keywords }}"/>
<meta name="author" content="{{ authorName }}">
<meta name="copyright" content="{{ authorName }}, {{ site.name }}">
<link rel="canonical" href="{{site.url}}{{ page.url }}">
{%- if site.google_verification %}
<meta name="google-site-verification" content="{{ site.google_verification }}">
{%- endif %}

{# Schema #}
<meta itemprop="name" content="{{ metaTitle }}">
<meta itemprop="description" content="{{ metaDescription }}">
<meta itemprop="image" content="{{ site.url }}{{ metaImage }}">

{# Twitter #}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ authorTwitter }}">
<meta name="twitter:title" content="{{ metaTitle }}">
<meta name="twitter:description" content="{{ metaDescription }}">
<meta name="twitter:creator" content="{{ authorTwitter }}">
<meta name="twitter:image:src" content="{{ site.url }}{{ metaImage }}">
<meta name="twitter:image:alt" content="{{ metaImageAlt }}">

{# Open Graph #}
<meta property="og:title" content="{{ metaTitle }}">
{%- if collections.archive %}
<meta property="og:type" content="article">
<meta property="article:published_time" content="{{ page.date | dateToIso }}">
{%- for tag in tags %}{%- if (tag != "post") and (tag != "page") %}
<meta name="article:tag" content="{{ tag }}">{%- endif %}
{%- endfor %}
{%- else %}
<meta property="og:type" content="website">
{%- endif %}
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:image" content="{{ site.url }}{{ metaImage }}">
<meta property="og:image:alt" content="{{ metaImageAlt }}">
<meta property="og:description" content="{{ metaDescription }}">
<meta name="og:site_name" content="{{ site.name }}">
<meta property="og:locale" content="en_US">

{# sameAs links #}
{% for service, link in social %}
<link href="{{ link }}" rel="me">
{% endfor %}

{# Feeds #}
<link rel="alternate" type="application/rss+xml" href="{{ site.url}}/rss.xml" title="{{ site.name }} RSS Feed">
<link rel="alternate" type="application/atom+xml" href="{{ site.url}}/atom.xml" title="{{ site.name }} Atom Feed">

{# Robots #}
<meta name="robots" content="{{ site.robots.search_crawler }}"/>
{%- if site.robots.pinterest === "disallow" %}
<meta name="pinterest" content="nopin" />
<meta name="pinterest" content="nohover" />
<meta name="pinterest-rich-pin" content="false" />
{%- endif %}
{%- if site.robots.twitter === "disallow" %}
<meta name="twitter:dnt" content="on">
{%- endif %}

<script type="application/ld+json">
  {
    "name":"{{ title }} | {{ site.name }}",
    "description":"{{ metaDescription }}",
    "author": {
        "@type":"Person",
        "name":"{{ authorName }}"
    },
    "@type":"WebSite",
    "url":"{{site.url}}{{ page.url }}",
    "image":"{{ site.url }}{{ metaImage }}",
    "headline":"{{ title }} | {{ site.name }}",
    "@context":"http://schema.org",
    "sameAs": [
      {%- for network, link in social %}
      "{{ link }}"{%- if not loop.last %},{%- else %}{%- endif %}
      {%- endfor %}
    ]
  }
</script>
