{% for post in postslist %}

  {% set featuredImageAlt = 'Video clip thumbnail' or post.data.image_caption %}
  {% set postCredit = post.data.clipper or author.name %}

    <article class="post mb-8 mx-4 flex-1 bg-white rounded-lg overflow-hidden shadow-md hover:shadow-lg">

      {# build post image & categories with links #}
      {% if post.data.featured_image %}
        <figure class="relative">
          <div class="absolute bottom-0 left-0 flex mx-3">
            {% for item in post.data.tags %}
              {% set tagUrl %}/tags/{{ item | slug }}/{% endset %}
              <a href="{{ tagUrl | url }}" rel="tag"><p class="bg-{{ site.colors.accent }}-600 px-4 py-2 text-white text-xs font-bold rounded my-6 ml-3">{{ item }}</p></a>
            {% endfor %}
          </div>
          <a href="{{ post.url }}">
            <img src="{{ post.data.featured_image }}" alt="{{ featuredImageAlt }}" class="block rounded-t-lg">
          </a>
        </figure>
      {% endif %}

      {# Build link, title, post credit, & date #}
      <a class="block text-{{ site.colors.main }}-800 no-underline p-8" href="{{ post.url }}">
        <h2 class="text-3xl mb-6">{{ post.data.title }}</h2>
        <p class="text-sm text-gray-600 mb-4">
          {% if post.data.video_type == "clip" %}
          Clipped by {{ post.data.clipper }},
          {% else %}
          {{ site.author_name }},
          {% endif %}
          <time datetime="{{ post.date }}" class="mb-0">{{ post.date | readableDate }}</time></p>
      </a>

    </article>

{% endfor %}
