<form action="https://www.google.com/search" method="get" class="search">
  <input type="hidden" name="q" id="q" value="site:{{ site.url }}">
  <label for="search-str">Search</label>
  <input type="text" name="q" id="search-str" class="form-input">
  <button type="submit" class="submit">Search with Google</button>
</form>
