<form action="https://www.google.com/search" method="get" class="search w-full mx-auto">
  <div class="flex items-center border-b border-b-2 border-{{ theme.colors.accent }}-500 py-2 max-w-sm mx-auto">
    <input type="hidden" name="q" id="q" value="site:{{ site.url }}">
    <input class="appearance-none bg-transparent border-none w-full mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" name="q" id="search-str" placeholder="Search with Google" aria-label="Search this site on Google via keyword">
    <button class="flex-shrink-0 bg-{{ theme.colors.accent }}-500 hover:bg-{{ theme.colors.accent }}-700 border-{{ theme.colors.accent }}-500 hover:border-{{ theme.colors.accent }}-700 text-sm border-4 text-white py-1 px-2 rounded" type="button">
      Search
    </button>
  </div>
</form>
