{#
You Are Here:
- Social Icons
- src/site/_includes/social-icons.njk

How It Works:
- On build, this is placed on every page with `{% include "social-icons.njk" %}`
- It is included in the footer by default
- SVGs come from the sprite sheet: images/icons/icon-library.svg

Dynamic Data:
- anything in {{ curly braces }} is a variable from
  (a) src/site/_globals/social.json (for icons, links)
  (b) src/site/_globals (for anything else, like theme color)
#}

<ul class="flex list-reset justify-center list-none">

  <li class="mr-4 text-{{ site.colors.main }}-100">
    <a href="mailto:{{ site.author_email }}" class="block text-{{ site.colors.main }}-100 u-email" aria-label="Contact Me" rel="me" title="Email">
      <svg class="block" fill="currentColor" role="img" aria-hidden="true" width="18" height="18">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/icon-library.svg#icon-email"></use>
      </svg>
    </a>
  </li>

  {% for icon, link in social %}
  {% if link %}
  <li class="mr-4 text-{{ site.colors.main }}-100">
    <a href="{{ link | safe }}" class="block text-{{ site.colors.main }}-100" aria-label="{{ icon | capitalize }}" rel="me" title="{{ icon }}">
      <svg class="block" fill="currentColor" role="img" aria-hidden="true" width="18" height="18">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/icon-library.svg#icon-{{ icon }}"></use>
      </svg>
    </a>
  </li>
  {% endif %}
  {% endfor %}

</ul>
