{#
You Are Here:
- Social Icons
- src/site/_includes/skeleventy/social-icons.njk

How It Works:
- On build, this is placed on every page with `{% include "social-icons.njk" %}`
- It is included in the footer by default
- SVGs come from the sprite sheet: images/icons/icon-library.svg

Dynamic Data:
- anything in {{ curly braces }} is a variable from
  (a) src/site/_data/social.json (for icons, links)
  (b) src/site/_data (for anything else, like theme color)
#}

<ul class="flex list-reset justify-center list-none" aria-label="Social Media Links">

  {% for network, link in social %}
  {% if link != "" %}
  <li>
    <a href="{{ link | safe }}" class="block lg:p-2 py-3 px-0" aria-label="{{ network | capitalize }}" title="{{ network }}" target="_blank" rel="me noopener noreferrer">
      <svg class="block" role="img" aria-hidden="true" width="18" height="18">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/icon-library.svg#{{ network }}"></use>
      </svg>
    </a>
  </li>
  {% endif %}
  {% endfor %}

</ul>
