{#
  TAG LIST
  - site/_includes/taglist.njk

  Usage:
  - site/_themes/ghostwind/archive.njk

  Data Sources:
  - site/pages/tags.md

  Includes:
  - tag, url, quantity
#}
<ul class="flex flex-row flex-wrap justify-center -mx-2">
{% for tag in collections.tagList %}
    {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
    <li class="px-2 inline-block"><a href="{{ tagUrl }}" class="tag pb-4 underline">{{ tag }}</a> ({{ collections[tag].length }})</li>
{% endfor %}
</ul>
