# Environment Config

# store your secrets and config variables in here
# remove .sample to start using it

# Your local testing domain
URL=
# Get this from your Twitch Developer application
TWITCH_CLIENT_ID=

# note: .env is a shell file so there can't be spaces around =
