[build]
  command = "npm run build"
  publish = "dist"
  # functions = "./src/functions"

[template.environment]
  TWITCH_CLIENT_ID = "Add your Twitch App Client ID for live alerts"

[context.production]
  environment = { NODE_VERSION = "12", NODE_ENV = "production" }

[dev]
  command = "npm run start"
  publish = "dist"
  port = 3000
  targetPort = 8181
  NODE_ENV = "development"
  # functionsPort = 34567

[[headers]]
  # Define which paths this specific [[headers]] block will cover.
  for = "/*"
    [headers.values]
    Access-Control-Allow-Origin = "*"
