---
layout: default.njk
---
{#
You Are Here:
- Posts List
- src/site/_layouts/post.njk

How It Works:
- On build, this is placed on every page with `{% include "postslist.njk" %}`
- It uses conditions to show Blog data vs Video data

Dynamic Data:
- anything in {{ curly braces }} is a variable from :
  (a) frontmatter in a markdown file from src/site/blog or src/site/video
  (b) src/site/_data
- aliases are defined in `{% set %}`

Gotchas:
- You can't put Nunjucks code inside a <script>
#}

{% set postCredit = clipper or site.author_name %}

<section class="h-entry flex-1 mx-auto lg:px-32">

  <div class="post-header mb-12 md:mb-20">

    <h1 class="page-title text-3xl md:text-center md:text-5xl lg:text-5xl">{{ title }}</h1>

    <div class="text-sm md:text-base text-gray-600 dark:text-gray-100 flex justify-center">
      <p class="md:text-center">
        <span class="author">{% if video_type %}Clipped by{% else %}By{% endif %}&nbsp;{{ postCredit }}</span>
        <span class="px-2">—</span>
        <time datetime="{{ date }}">{{ date | readableDate }}</time>
        <span class="px-2">—</span>
        <span class="author">Reading Time: {{ content | readingTime }}</span>
        <span class="px-2">—</span>
        {% if tags %}
          <span class="category">Posted in
            {% set separator = joiner(' +') %}
            {% for tag in tags %}
              {%- if tag != "post" -%}
                {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
                {{ separator() }} <a href="{{ tagUrl | url }}" rel="tag" class="underline">{{ tag }}</a>
              {%- endif -%}
            {% endfor %}
          </span>
        {% endif %}
      </p>
    </div>

    {# Hero Media #}
    {% if video_type %}
    <div class="resp-container video-embed mt-10 md:mt-8" data-id="{{ video_id }}" data-type="{{ video_type }}" data-thumbnail="{{ image_card }}">
    </div>
    {% elif image_card %}
    <figure class="mt-10 md:mt-8">
      <img src="{{ image_card }}" alt="{{ image_caption }}">
      {% if image_caption %}
        <figcaption class="text-center text-sm italic text-gray-600 dark:text-gray-100 mt-4">{{ image_caption }}</figcaption>
      {% endif %}
    </figure>
    {% endif %}

  </div>

  <div class="content post md:px-16 highlight-{{ theme.colors.accent }} mb-16">
    {% if tldr %}<p class="intro">{{ tldr }}</p>{% endif %}
    {{ content | safe }}
  </div>

</section>

{% include "iframe-loader.njk" %}
