---
layout: default.njk
---
{#
You Are Here:
- Home for Ghostwind
- site/_themes/ghostwind/home.njk
{% include 'sections/headline-image.njk' %}
#}
{% for section in home.sections %}

  {% if section.template === "hero" %}
  {% include 'sections/hero.njk' %}
  {% endif %}

  {% if section.template === "headline-text" %}
  {% include 'sections/headline-text.njk' %}
  {% endif %}

  {% if section.template === "image-parallax" %}
  {% include 'sections/image-parallax.njk' %}
  {% endif %}

  {% if section.template === "posts-featured" %}
  {% include 'sections/posts-featured.njk' %}
  {% endif %}

  {% if section.template === "headline" %}
  {% include 'sections/headline.njk' %}
  {% endif %}

{% endfor %}
