<!doctype html>
<html lang="en" class="min-h-full antialiased">
  <head>
    {# include our meta tags #}
    {% include "components/meta.njk" %}

    {# include styles #}
    <link rel="stylesheet" href="/css/main.css">

    {# Favicon #}
    <link rel="icon" type="image/ico" href="{{ site.favicon }}">

    {# Service Worker #}
    <link rel="manifest" href="/site.webmanifest">
    <script>
      if ("serviceWorker" in navigator)
        navigator.serviceWorker.register("/service-worker.js");
    </script>
    <script>(localStorage.getItem('darkMode') === 'true') && document.documentElement.classList.add('mode-dark');</script>

  </head>

  <body {% if body_class %} id="{{ body_class }}" {% endif %} class="min-h-full font-sans text-lg text-{{ site.colors.main }}-900 leading-normal dark:bg-{{ site.colors.main }}-900 dark:text-white">

    <a href="#main" class="sr-skip-link">skip to main content</a>

    <div id="wrapper" class="wrapper flex flex-col relative min-h-screen">

      {# include header #}
      {% include "components/header.njk" %}

      <main id="main" class="main container content m-auto py-10 px-6 lg:px-0 lg:py-20" role="main" tabindex="-1">

        {# include content #}
        {{ content | safe }}

      </main>

      {# include footer #}
      {% include "components/footer.njk" %}

    </div>

    <script src="/js/main.js" defer></script>

  </body>
</html>
