---
title: From the Lab
permalink: blog.html
meta_title: Blog
meta_description: Blog page description
body_class: blog
layout: default
---

<section id="blog-posts" class="flex-1 container ml-auto mr-auto">

  <h1 class="page-title text-white text-3xl md:text-center md:text-5xl mb-16 lg:mb-24 lg:text-5xl">{{ title }}</h1>

  <div class="posts md:flex flex-1">

    {% set postslist = collections.blog %}
    {% include 'components/postslist.njk' %}

  </div>

</section>
