---
title: Contact Us
permalink: contact.html
meta_title: Contact
meta_description: Contact page description
body_class: contact
layout: default
---

<section class="flex-1 container mx-auto">

  <h1 class="page-title text-5xl">{{ title }}</h1>

  <div class="content">

    <p>Tell us how great we are in the form below.</p>

    <form name="contact" method="POST" data-netlify="true">
      <div class="mb-4">
        <label class="block text-{{ site.colors.main }}-darkest mb-2" for="name">Name</label>
        <input class="appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text">
      </div>

      <div class="mb-4">
        <label class="block text-{{ site.colors.main }}-darkest mb-2" for="email">Email</label>
        <input class="appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" id="email" type="text">
      </div>

      <div class="mb-4">
        <label class="block text-{{ site.colors.main }}-darkest mb-2" for="message">Message</label>
        <textarea class="appearance-none border rounded w-full py-2 px-3 h-32 leading-tight focus:outline-none focus:shadow-outline" id="message"></textarea>
      </div>

      <div class="mb-4">
        <button class="inline-block rounded py-4 px-6 text-white font-bold bg-{{ site.colors.accent }}-dark hover:bg-{{ site.colors.accent }}-light" type="submit">Send message!</button>
      </div>
    </form>

  </section>
