---
title: Contact Us
permalink: contact.html
meta_title: Contact
meta_description: Contact page description
body_class: contact
layout: default
---

<section class="flex-1 container mx-auto">

  <h1 class="page-title text-5xl">{{ title }}</h1>

  <div class="content">

    {{ content | safe }}

    {% if modules.contact_form === "true" %}
      {% include "components/contact-form.njk" %}
    {% endif %}

  </div>

</section>
