---
title: Welcome to Stream Sites
permalink: index.html
meta_title: Home
meta_description: Stream Sites is a Eleventy static site generated with Netlify and powered with Netlify CMS + Identity
body_class: home
layout: default
---

<section class="flex-1">

  <h1 class="page-title text-5xl">{{ title }}</h1>

  <div class="content">
    <p>A skeleton boilerplate built with
      <a href="https://www.11ty.io">Eleventy</a>
      and
      <a href="https://tailwindcss.com">Tailwind CSS</a>.</p>

    <h2>Features</h2>

    <ul class="mb-12">
      <li>Tailwind CSS for beautiful and fast UI styling</li>
      <li>Gulp to watch and compile your Tailwind, SCSS &amp; JS files</li>
      <li>
        <a href="https://www.purgecss.com/">Purgecss</a>
        to remove any unused CSS</li>
      <li>HTML minifier</li>
      <li>A simple, elegant blog, with featured post images</li>
    </ul>

  </div>

</section>
