---
layout: default.njk
---
{#
You Are Here:
- 404 for Ghostwind
- src/site/_themes/ghostwind/404.njk

How It Works:
- On build, this page makes a 404 destination when a page is not found

Dynamic Data:
- anything in {{ curly braces }} is a variable from:
  (a) frontmatter in the associated markdown file (src/site/page/404.md)
  (b) src/site/_globals
#}
<section class="mx-auto">
  <div class="text-center pt-20 pb-12">
    <p class="text-sm md:text-base text-{{ theme.colors.accent }}-600 dark:text-{{ theme.colors.main }}-100 font-bold {{ fontMeta }}">{{ heading }}</p>
    <h1 class="font-bold break-normal text-3xl md:text-5xl">{{ subheading }}</h1>
  </div>
  <div class="container content highlight-{{ theme.colors.accent }} max-w-5xl mx-auto mb-16">
    <div>{{ content | safe }}</div>
    <form action="https://www.google.com/search" method="get" class="search">
      <input type="hidden" name="q" id="q" value="site:{{ site.url }}">
      <label for="search-str">Try searching instead: <input type="text" name="q" id="search-str" class="form-input"></label>
      <button type="submit" class="submit">Search with Google</button>
    </form>
    <p><a href="/">Or go back to the homepage</a></p>
  </div>
</section>
