---
layout: default.njk
---
{#
You Are Here:
- Contact for Ghostwind
- src/site/_themes/ghostwind/contact.njk

How It Works:
- On build, this page adds a form (if enabled)

Dynamic Data:
- anything in {{ curly braces }} is a variable from:
  (a) frontmatter in the associated markdown file (src/site/page/contact.md)
  (b) src/site/_globals
#}
<section>

  <div class="text-center pt-20 pb-12">
    <p class="text-sm md:text-base text-{{ theme.colors.accent }}-600 dark:text-{{ theme.colors.main }}-100 font-bold {{ fontMeta }}">{{ theme.contact.subheading | upper }}</p>
    <h1 class="font-bold break-normal text-3xl md:text-5xl">{{ theme.contact.heading }}</h1>
  </div>

  <div class="container max-w-5xl mx-auto mb-16">

    <div class="content w-full highlight-{{ theme.colors.accent }} text-xl leading-normal">
      {{ content | safe }}
    </div>

    <div class="w-4/5 mx-auto mt-16">
    {% if form %}
      {% include "form.njk" %}
    {% endif %}
    </div>

  </div>

</section>
