{#
This File: src/site/_themes/ghostwind/default.njk

THIS IS AN ESSENTIAL FILE. ALL LAYOUTS LOAD INTO HERE.
- <head> includes the essentials: meta, stylesheet, favicon, manifest,
  service worker, dark mode handler, Netlify Identity
- <body> is your content. It includes header, any content via another
  layout, footer, and scripts.

Dynamic Data:
- Theme Colors from src/site/_data/theme.json
- Metomic from src/site/_data/site.json
#}

<!doctype html>
<html lang="{{ site.language }}" class="min-h-full antialiased">
  <head>
    {# Meta Tags #}
    {% include "meta.njk" %}

    {# Stylesheet #}
    {% if helpers.env != "production" %}
    <link rel="stylesheet" href="{{ '/css/tailwind.min.css' | url | cacheBuster }}" rel="preload">
    {% else %}
    <link rel="stylesheet" href="{{ '/css/main.min.css' | url | cacheBuster }}" rel="preload">
    {% endif %}

    {# Dark Mode Handler #}
    <script>(localStorage.getItem('darkMode') === 'true') && document.documentElement.classList.add('mode-dark');</script>

    {# Netlify Identity - TODO: only load on Home Page #}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js" defer></script>

  </head>

  <body class="font-sans text-lg leading-normal text-{{ theme.colors.main }}-900 dark:text-{{ theme.colors.main }}-100 bg-{{ theme.colors.main }}-100 dark:bg-{{ theme.colors.main }}-900">

    <a href="#main" class="sr-skip-link">skip to main content</a>

    <div class="wrapper flex flex-col items-stretch min-h-full">
      {# Header #}
      {% include "header.njk" %}

      <main id="main" class="main hfeed flex-grow flex-shrink-0" role="main" tabindex="-1">
        {# Templates and content load here! #}
        {{ content | safe }}
      </main>

      {# Footer #}
      {% include "footer.njk" %}
    </div>

    {# Scripts #}
    {% if helpers.env != "production" %}
    <script src="{{ '/js/main.js' | url | cacheBuster }}" defer></script>
    {% elseif helpers.env === "production" %}
    <script src="{{ '/js/main.min.js' | url | cacheBuster }}" defer></script>
    {% endif %}

    {# Netlify Identity -  TODO: Only load on Home Page #}
    <script>
    if (window.netlifyIdentity) { window.netlifyIdentity.on("init", user => { if (!user) { window.netlifyIdentity.on("login", () => { document.location.href = "/admin/"; }); } }); }
    </script>

    {# Metomic - https://metomic.io/ #}
    {% if site.metomic === "on" %}
    <script src="https://config.metomic.io/config.js?id=prj:dd25acac-40e8-4583-b7a4-603f493a8d90" crossorigin charset="utf-8" defer></script>
    <script src="https://consent-manager.metomic.io/embed.js" crossorigin charset="utf-8" defer></script>
    {% endif %}

    {# TODO: Move scroll indicator here, but only include on collections.posts #}
  </body>

</html>
