---
layout: default.njk
---
{#
You Are Here:
- Home for Ghostwind
- src/site/_themes/ghostwind/home.njk
#}

{% include 'sections/hero.njk' %}
{% include 'sections/headline-image.njk' %}
{% include 'sections/headline-posts.njk' %}
{% include 'sections/row-image.njk' %}
{% include 'sections/headline.njk' %}
