{#
This File: src/site/_layouts/blank.njk
This is an empty boilerplate you can use for expanding your Stream Site.
Copy it to your theme to use for overlays, new templates, etc.
#}
<!doctype html>
<html lang="{{ site.language }}" class="min-h-full antialiased">
  <head>
    {# Meta Tags #}
    {% include "meta.njk" %}

    {# Stylesheet #}
    {% if helpers.env === "production" %}
    <link rel="stylesheet" href="{{ '/css/main.min.css' | url | cacheBuster }}" rel="preload">
    {% else %}
    <link rel="stylesheet" href="{{ '/css/tailwind.min.css' | url | cacheBuster }}" rel="preload">
    {% endif %}
  </head>
  <body class="h-full w-full font-sans text-lg leading-normal bg-{{ theme.colors.main }}-800 text-{{ theme.colors.main }}-100">

    {# Your Creativity Goes Here #}
    {{ content | safe }}

  </body>
</html>
