{#
You Are Here:
- Link In Bio for Ghostwind
- src/site/_themes/ghostwind/linkinbio.njk

How It Works:
- On build, this page lists all the Links for your Bio from
  src/site/_data/linkinbio.json

Dynamic Data:
- anything in {{ curly braces }} is a variable from src/site/_data
#}
<!doctype html>
<html lang="en" class="min-h-full antialiased">
  <head>
    {# include our meta tags #}
    {% include "meta.njk" %}

    {# include styles #}
    <link rel="stylesheet" href="/css/main.css">

    {# Favicon #}
    <link rel="icon" type="image/ico" href="{{ site.favicon }}">

  </head>

  <body class="h-full w-full font-sans text-lg leading-normal bg-{{ theme.colors.main }}-900 text-{{ theme.colors.main }}-100 px-6">

    <a href="#main" class="sr-skip-link">skip to main content</a>

    <div class="wrapper flex flex-col items-stretch min-h-full">

      <header id="header" class="header bg-{{ theme.colors.main }}-900 p-6 border-b border-{{ theme.colors.main }}-900 flex-shrink-0">
      	<div class="container flex flex-wrap justify-center items-center m-auto">
      		<a class="company-logo-link block text-{{ theme.colors.main }}-100 font-bold text-3xl md:mb-0 no-underline" href="/" aria-label="Back to home">
      		  {% if navigation.nav_logo %}
      		    <img src="{{ site.logo }}" alt="{{ site.name }}" class="h-12 w-auto">
      		  {% else %}
      		    {{ site.name }}
      		  {% endif %}
      		</a>
        </div>
      </header>

      <main id="main" class="main flex flex-col m-auto text-center md:w-4/5 flex-grow flex-shrink-0" role="main" tabindex="-1">

        <h1 class="page-title text-2xl md:text-3xl mt-0">{{ title }}</h1>

        <div class="text-sm md:text-base">{{ content | safe }}</div>

        <ul class="content text-center text-{{ theme.colors.main }}-100 py-8 w-full">
          {% for item in linkinbio.linkinbio %}
          <a href="{{ item.link | safe }}" target="_blank" class="lg:p-4 py-3 px-0 block font-bold hover:text-{{ theme.colors.main }}-900 bg-{{ theme.colors.accent }}-600 hover:bg-{{ theme.colors.accent }}-400 mb-4"><li>{{ item.text }}</li></a>
          {% endfor %}
        </ul>

      </main>

      <footer id="footer" class="footer h-card bg-{{ theme.colors.main }}-900 flex-shrink-0" role="contentinfo">
        <div hidden>
          <img class="u-photo" src="{{ site.author_avatar }}">
          <p class="p-note">{{ site.author_bio }}</p>
        </div>
        <div class="footer-inner container m-auto text-{{ theme.colors.main }}-100 pb-8 text-center text-xs md:text-sm">
          <p>© 2020 <a class="p-name u-url" rel="me" href="{{ site.url }}">{{ site.author_name }}</a>. Built with <a class="hover:text-{{ theme.colors.accent }}-500" href="https://streamsites.xyz/">Stream Sites</a>.</p>
        </div>
      </footer>

    </div>

  </body>
</html>
