---
layout: default.njk
---
{#
You Are Here:
- Privacy for Ghostwind
- src/site/_themes/ghostwind/privacy.njk

How It Works:
- On build, this page fills in your name, site URL, and email address
  from src/site/_globals/site.json

Dynamic Data:
- anything in {{ curly braces }} is a variable from:
  (a) frontmatter in the associated markdown file (src/site/page/privacy.md)
  (b) src/site/_globals
- aliases are defined in `{% set %}`

TODO:
- Add LAST MODIFIED time instead of default date
#}
<section class="mx-auto px-6">

  <div class="text-center pt-20 pb-12">
    <p class="text-sm md:text-base text-{{ theme.colors.accent }}-600 dark:text-{{ theme.colors.main }}-100 font-bold {{ fontMeta }}">Effective as of: {{ date | readableDate }}</p>
    <h1 class="font-bold break-normal text-3xl md:text-5xl">{{ title }}</h1>
  </div>

  <div class="container content highlight-{{ theme.colors.accent }} max-w-5xl mx-auto pb-20">

    <p>{{ site.name }} ("us", "we", or "our") operates the <a href="{{ site.url }}">{{ site.url }}</a> website (the "Website").</p>
    <p>This page informs you of our policies regarding the collection, use, and disclosure of personal data when you use our Website and the choices you have associated with that data.</p>
    <p>We use your data to provide and improve the Website. By using the Website, you agree to the collection and use of information in accordance with this policy.</p>

    {{ content | safe }}

    <h2>Changes To This Privacy Policy</h2>
    <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>
    <p>We will let you know via email and/or a prominent notice on our Website, prior to the change becoming effective and update the "effective date" at the bottom of this Privacy Policy.</p>
    <p>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>
    <h2>Contact Us</h2>
    <p>If you have any questions about this Privacy Policy, please contact:</p>
    <ul>
      <li>By email: {{ site.privacy_email }}</li>
    </ul>

  </div>

</section>
