---
layout: default.njk
---
{#
You Are Here:
- Tags
- src/site/_themes/ghostwind/tags.njk

How It Works:
- On build, this layout will generate 1 page with a list of all the tags from
  your posts (blog & video)
#}

{% if key === "tagged" %}
<section class="mx-auto px-6">

  <div class="text-center pt-20 pb-12">
    <p class="text-sm md:text-base text-{{ theme.colors.accent }}-600 dark:text-{{ theme.colors.main }}-100 font-bold">{{ subtitle | upper }}</p>
    <h1 class="font-bold break-normal text-3xl md:text-5xl">{{ title }}</h1>
  </div>

  <div class="text-center tags">
    <ul class="flex flex-row flex-wrap justify-center -mx-2">
    {% for tag in collections.tagList %}
        {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
        <li class="px-2 inline-block"><a href="{{ tagUrl }}" class="tag pb-4 underline">{{ tag }}</a> ({{ collections[tag].length }})</li>
    {% endfor %}
    </ul>

  </div>

</section>
{% endif %}

{% if key === "categorized" %}
<section class="mx-auto px-6">

  <div class="text-center pt-20 pb-12">
    <p class="text-sm md:text-base text-{{ theme.colors.accent }}-600 dark:text-{{ theme.colors.main }}-100 font-bold">{{ subtitle | upper }}</p>
    <h1 class="font-bold break-normal text-3xl md:text-5xl">{{ title }}</h1>
  </div>

  <div class="text-center tags">
    <ul class="flex flex-row flex-wrap justify-center -mx-2">
    {% for category in collections.catList %}
        {% set catUrl %}/category/{{ category | slug }}/{% endset %}
        <li class="px-2 inline-block"><a href="{{ catUrl }}" class="tag pb-4 underline">{{ category }}</a> ({{ collections.category[category].length }})</li>
    {% endfor %}
    </ul>

  </div>

</section>
{% endif %}
