<!doctype html>
<html lang="en" class="min-h-full antialiased">
  <head>
    {# include our meta tags #}
    {% include "components/meta.njk" %}

    {# include styles #}
    <link rel="stylesheet" href="/css/main.min.css">

    {# Favicon #}
    <link rel="icon" type="image/ico" href="{{ site.favicon }}">

    {# Netlify Identity #}
    {# <script src="https://identity.netlify.com/v1/netlify-identity-widget.js" defer></script> #}
  </head>

  <body {% if body_class %} id="{{ body_class }}" {% endif %} class="min-h-full font-sans text-lg text-{{ site.colors.main }}-900 leading-normal">

    <a href="#main" class="sr-skip-link">skip to main content</a>

    <div id="wrapper" class="wrapper flex flex-col relative min-h-screen">

      {# include header #}
      {% include "components/header.njk" %}

      <main id="main" class="main container content m-auto py-10 px-6 lg:px-0 lg:py-20" role="main" tabindex="-1">

        {# include content #}
        {{ content | safe }}

      </main>

      {# include footer #}
      {% include "components/footer.njk" %}

    </div>

    {# include scripts #}
    <script src="/javascript/main.min.js" defer></script>

    {# <!-- Enable Netlify Identity Login -->
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script> #}

  </body>
</html>
