---
layout: default
section: linkinbio
---

<section class="flex-1">

  <h1 class="page-title text-5xl text-center">{{ title }}</h1>

  {{ content | safe }}

  <ul class="content text-center">
    {% for text, link in linkinbio.linksinbio %}
    <li><a href="{{ link | safe }}" target="_blank" class="lg:p-4 py-3 px-0 block text-white font-bold hover:text-{{ site.colors.accent }}-400">{{ text }}</a></li>
    {% endfor %}
  </ul>

</section>
