---
section: linkinbio
---
<!doctype html>
<html lang="en" class="min-h-full antialiased">
  <head>
    {# include our meta tags #}
    {% include "components/meta.njk" %}

    {# include styles #}
    <link rel="stylesheet" href="/css/main.min.css">

    {# Favicon #}
    <link rel="icon" type="image/ico" href="{{ site.favicon }}">

    {# Netlify Identity #}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js" defer></script>
  </head>

  <body {% if body_class %} id="{{ body_class }}" {% endif %} class="min-h-full font-sans text-lg text-{{ site.colors.main }}-900 leading-normal">

    <a href="#main" class="sr-skip-link">skip to main content</a>

    <div id="wrapper" class="wrapper flex flex-col relative min-h-screen">

      <header id="header" class="header bg-{{ site.colors.main }}-900 p-8 border-b border-{{ site.colors.main }}-900">
      	<div class="container flex flex-wrap justify-center items-center m-auto">
      		<a class="company-logo-link block text-white font-bold text-3xl md:mb-0 no-underline" href="/" aria-label="Back to home">
      		  {% if modules.navigation_logo === "true" %}
      		    <img src="{{ site.logo }}" alt="{{ site.name }}" class="h-16 w-auto">
      		  {% else %}
      		    {{ site.name }}
      		  {% endif %}
      		</a>
        </div>
      </header>

      <main id="main" class="main container content m-auto py-10 px-6 lg:px-0 lg:py-20" role="main" tabindex="-1">
        <section class="flex-1">

          <h1 class="page-title text-5xl text-center">{{ title }}</h1>

          {{ content | safe }}

          <ul class="content text-center">
            {% for text, link in linkinbio.linksinbio %}
            <li><a href="{{ link | safe }}" target="_blank" class="lg:p-4 py-3 px-0 block text-white font-bold hover:text-{{ site.colors.accent }}-400">{{ text }}</a></li>
            {% endfor %}
          </ul>

        </section>
      </main>

      <div class="footer-wrapper">
        <footer id="footer" class="footer bg-gray-200">
          <div class="footer-inner container m-auto md:flex justify-center items-center px-6 py-10">
            <p class="text-{{ site.colors.main }}-900 pb-8 md:pb-0">
              © 2019 {{ site.name }}. Built with <a class="no-underline hover:text-{{ site.colors.accent }}" href="https://streamsites.xyz/">Stream Sites.</a>
            </p>
          </div>
        </footer>
      </div>

    </div>

    {# include scripts #}
    <script src="/javascript/main.min.js" defer></script>

    <!-- Enable Netlify Identity Login -->
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>

  </body>
</html>
