<section class="w-full px-6 py-16 md:py-20 flex">
	<div class="max-w-5xl mx-auto flex flex-wrap justify-start items-center">
		<div class="flex-1">
			<h2 class="font-extrabold text-4xl leading-tight mt-0">{{ section.headline | safe }}</h2>
		</div>
		<div class="w-full lg:w-72">
			<p class="leading-relaxed max-w-xl font-bold">{{ section.text | safe }}</p>
		</div>
	</div>
</section>
