{% set colorMain = theme.colors.main %}
{% set colorAccent = theme.colors.accent %}
{% set colorLight = 100 %}
{% set colorBase = 500 %}
{% set colorDark = 900 %}

<section class="w-full px-6 py-16 md:py-20 flex flex-col items-center justify-center bg-{{ colorMain }}-{{ colorLight }} dark:bg-{{ colorMain }}-{{ colorDark }}">

  <h2 class="text-4xl max-w-2xl leading-tight pb-20 text-center">In dolore fugiat laborum fugiat aliquip velit in nisi commodo culpa minim.</h2>

  <div class="w-full md:min-w-4xl lg:min-w-6xl max-w-6xl mx-auto pb-8">
    <div class="flex flex-wrap -mx-2">
    {% set postslist = collections.posts | limit(3) %}
    {% include 'postslist.njk' %}
    </div>
  </div>

</section>
