<section class="bg-{{ theme.colors.main }}-200 dark:bg-{{ theme.colors.main }}-900">
	<div class="max-w-5xl mx-auto px-6 pt-8 pb-16 md:pt-16 flex flex-wrap justify-start items-center">
		<div class="flex-1">
			<h2 class="font-extrabold text-5xl md:text-6xl leading-none mb-12">Sit Ipsum</h2>
		</div>
		<div class="w-full lg:w-72">
			<p class="leading-loose max-w-xl font-bold">Viverra mauris in aliquam sem fringilla ut morbi tincidunt. Posuere ac ut consequat semper viverra nam libero justo. Nascetur ridiculus mus mauris vitae ultricies leo integer malesuada nunc. </p>
		</div>
	</div>
  <img src="https://images.unsplash.com/photo-1580234831315-438a4813685c?w=2000" alt="" class="w-full h-96 object-cover" />
</section>
