<section class="w-full py-20 flex flex-col items-center justify-center bg-{{ theme.colors.main }}-200 dark:bg-{{ theme.colors.main }}-800">
  <h2 class="text-4xl max-w-2xl leading-tight text-center">In dolore fugiat laborum fugiat aliquip velit in nisi commodo culpa minim.</h2>
</section>
