<section class="w-full relative p-16">

  <div class="relative z-20 flex flex-wrap h-full -mt-20 pt-16">

    <div class="w-full md:w-1/2 h-64 md:min-h-xl">
      <img src="{{ home.sections[0].image | safe }}" alt="{{ home.sections[0].image_alt | safe }}" class="w-full h-full object-cover shadow-lg"/>
    </div>

    <div class="w-full md:w-1/2 pl-20 pr-0 py-6 md:pl-10 flex justify-center items-center">

      <div class="max-w-md">
        <h1 class="font-extrabold text-4xl md:text-6xl mb-4 leading-none">{{ home.sections[0].headline | safe }}</h1>
        <p class="mb-8 leading-relaxed font-bold">
          {{ home.sections[0].text | safe }}
        </p>
        <div class="mt-5 sm:mt-8 sm:flex sm:flex-wrap sm:justify-start">
          <a href="{{ home.sections[0].buttons[0].link | safe }}" class="w-auto flex items-center mb-3 mr-3 justify-center px-8 md:px-10 py-3 md:py-4 border border-transparent text-base md:text-lg leading-6 font-bold rounded-md text-white bg-{{ theme.colors.main }}-600 hover:bg-{{ theme.colors.main }}-500 focus:outline-none focus:border-{{ theme.colors.main }}-700 focus:shadow-outline-{{ theme.colors.main }} transition duration-150 ease-in-out">
            {{ home.sections[0].buttons[0].text | safe }}
          </a>
          <a href="{{ home.sections[0].buttons[1].link | safe }}" class="w-auto flex items-center justify-center mb-3 mr-3 px-8 md:px-10 py-3 md:py-4 border border-transparent text-base md:text-lg leading-6 font-bold rounded-md text-{{ theme.colors.main }}-700 bg-{{ theme.colors.main }}-200 hover:text-{{ theme.colors.main }}-900 hover:bg-{{ theme.colors.main }}-300 focus:outline-none focus:shadow-outline-{{ theme.colors.main }} focus:border-{{ theme.colors.main }}-300 transition duration-150 ease-in-out">
            {{ home.sections[0].buttons[1].text | safe }}
          </a>
        </div>
      </div>

    </div>

  </div>

  <div class="z-10 w-2/5 md:w-1/2 h-full bg-{{ theme.colors.accent }}-500 absolute top-0 left-0 -ml-20"></div>

  <div class="z-10 w-1 h-64 bg-{{ theme.colors.main }}-100 absolute bottom-0 left-0 ml-5"></div>

</section>
