---
slug: link-in-bio
layout: landing.njk
---
{#
LINK IN BIO
- site/pages/linkinbio.njk

Usage:
- This file generates the final page

Data Sources:
- site/_data/linkinbio.json
- site/_data/site.json
- site/_data/theme.json

Includes:
- link, url, icon
- featured_post

TODO: Design featured_post card to look different
TODO: Can chunks be replaced with {% block %} to use default.njk instead? Else, change parent layout name
#}

<a href="#main" class="sr-skip-link">skip to main content</a>

<div class="wrapper flex flex-col items-stretch min-h-full">

  {# Main Nav #}
  <header class="flex-shrink-0 w-full bg-{{ theme.colors.main }}-900 p-4 mt-0 shadow-md border-b-4 border-{{ theme.colors.accent }}-500">
    <div class="container mx-auto text-{{ theme.colors.main }}-100">
  			{# Branding #}
  			<a class="flex justify-center items-center hover:text-{{ theme.colors.accent }}-600 hover:no-underline font-semibold" href="/">
          {% if navigation.nav_brand === "logo" %}
          <img src="{{ site.logo }}" alt="{{ site.name }}" class="h-8 w-auto mr-2">
          {% elif navigation.nav_brand === "text" %}
          <span class="w-0 md:w-auto md:block mr-2">{{ site.name }}</span>
          {% elif navigation.nav_brand === "logoAndText" %}
          <img src="{{ site.logo }}" alt="{{ site.name }}" class="h-8 w-auto mr-4">
  				<span class="hidden w-0 md:w-auto md:block -ml-2 mr-2">{{ site.name }}</span>
          {% endif %}
          <span class="hidden w-0 md:w-auto md:block pr-2">&nbsp;/&nbsp;</span>
          <h1 class="w-auto md:block m-0 p-0 leading-normal text-lg">{{ linkinbio.title }}</h1>
  			</a>
  	</div>
  </header>

  <main id="main" class="container hfeed flex-grow flex-shrink-0 m-auto text-center md:w-4/5 p-6" role="main" tabindex="-1">

    {% if linkinbio.intro != "" %}
    <div class="content text-base p-6 pt-0">{{ linkinbio.intro }}</div>
    {% endif %}

    <ul class="text-center text-{{ theme.colors.main }}-100">

      {% for post in collections.featuredBio %}
      {% if linkinbio.featured_post !="" %}
      <li class="text-center">
        <a href="{{ post.url | safe }}" target="_blank" class="min-w-full lg:p-4 p-3 block font-bold hover:text-{{ theme.colors.main }}-900 bg-{{ theme.colors.accent }}-600 hover:bg-{{ theme.colors.accent }}-200 mb-4">
          {{ post.data.title }}
        </a>
      </li>
      {% endif %}
      {% endfor %}

      {% for item in linkinbio.linkinbio %}
        <li class="text-center">
          <a href="{{ item.link | safe }}" target="_blank" class="min-w-full lg:p-4 p-3 block font-bold hover:text-{{ theme.colors.main }}-900 bg-{{ theme.colors.accent }}-600 hover:bg-{{ theme.colors.accent }}-200 mb-4">
            {% if item.icon != "" %}
            <svg class="inline mr-2" role="img" aria-hidden="true" width="18" height="18">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/icon-library.svg#{{ item.icon }}"></use>
            </svg>
            {% endif %}
            {{ item.text }}
          </a>
        </li>
      {% endfor %}
    </ul>

  </main>

  <footer class="flex-shrink-0 w-full bg-{{ theme.colors.main }}-900 py-4 px-6 shadow-md-top border-t-4 border-{{ theme.colors.accent }}-500">
    <div class="text-center text-{{ theme.colors.main }}-100 text-sm">
      {# Copyright and Credits #}
      <p class="pt-2 md:pt-0">© 2020 <a class="p-name u-url" rel="me" href="{{ site.url }}">{{ site.author_name }}</a>.
        {% if site.footer_credit === "yes" %} Built with <a class="hover:text-{{ theme.colors.accent }}-500 underline" href="https://streamsites.xyz/">Stream Sites</a>.
        {% endif %}
      </p>
    </div>
  </footer>

</div>
