---
layout: default
section: 404
---

<section class="flex-1">

  <h1 class="page-title text-5xl">{{ title }}</h1>

  <div class="content">

    {{ content | safe }}
    <p>
      <a href="/">Take me back to the homepage</a>
    </p>

  </div>

</section>
