---
layout: default
---
{#
You Are Here:
- Archive
- src/site/_layouts/archive.njk

How It Works:
- On build, this page adds a postsList of
  1. src/site/blog
  2. src/site/highlights
  3. src/site/blog AND src/site/highlights

Dynamic Data:
- anything in {{ curly braces }} is a variable from:
  (a) frontmatter in the associated markdown file (src/site/page/blog.md,
      src/site/page/highlights.md, src/site/page/archive.md)
  (b) src/site/_globals
- aliases are defined in `{% set %}`
#}
<section class="mx-auto">

  <h1 class="page-title text-5xl md:text-center">{{ title }}</h1>

  <div class="content md:w-1/2 mx-auto">
    {{ content | safe }}
  </div>

  <div class="posts md:flex flex-wrap justify-center py-8">
    {% if collection === "blog" %}
      {% set postsList = collections.blog %}
      {% include theme.blog.theme %}
    {% elif collection === "highlights" %}
      {% set postsList = collections.highlights %}
      {% include theme.highlights.theme %}
    {% else %}
      {% set postsList = collections.archive %}
      {% include theme.archive.theme %}
    {% endif %}
  </div>

</section>
