{#
You Are Here:
- Blank
- src/site/_layouts/blank.njk

This is an empty boilerplate you can use for expanding your Stream Site.
#}
<!doctype html>
<html lang="en" class="min-h-full antialiased">
  <head>
    {% include "meta.njk" %}
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" type="image/ico" href="{{ site.favicon }}">
  </head>
  <body>

    {# Your Creativity Goes Here #}

  </body>
</html>
