.content .intro {
	@apply border-b border-gray-300 text-2xl pb-10 mb-10 font-light;

	@screen md {
		@apply text-3xl;
	}
}

.md-toc {
  @apply bg-gray-100 p-4;
}

.md-toc-header {
  font-weight: 700;
}

.content.post > ul,
.md-toc ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

.md-toc ul > li > * {
  @apply my-0;
}

.content .bookmark {
	opacity: .75;
}

.content p {
	@apply mb-8;
}

.content p:last-of-type {
	@apply mb-0;
}

.content.post > img {
  width: 100%;
  height: auto;
}

.content ol,
.footnotes-list {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

.footnotes-sep {
  @apply mt-8 border-b border-gray-300 border-t-0 border-r-0 border-l-0;
}
