{#
You Are Here:
- Site Header
- src/site/_includes/ghostwind/header.njk

How It Works:
- On build, this is placed on every page with `{% include "ghostwind/footer.njk" %}`

Things to not touch:
- `flex-shrink-0` keeps it happily in position on the page

Dynamic Data:
- anything in {{ curly braces }} is a variable from src/site/_globals
#}

<footer class="flex-shrink-0 w-full bg-white dark:bg-{{ theme.colors.main }}-900 py-4 px-6 shadow-md-top border-t-4 border-{{ theme.colors.accent }}-500">
  <div class="container mx-auto flex flex-col-reverse md:flex-row items-center justify-between text-{{ theme.colors.main }}-900 dark:text-{{ theme.colors.main }}-100 text-sm">
    <div class="flex md:justify-start flex-grow-0 w-auto">
      <p class="pt-2 md:pt-0">© 2020 <a class="p-name u-url" rel="me" href="{{ site.url }}">{{ site.author_name }}</a>.
        {% if site.footer_credit === true %} Built with <a class="hover:text-{{ theme.colors.accent }}-500 underline" href="https://streamsites.xyz/">Stream Sites</a>.{% endif %}</p>
    </div>
    <div class="flex items-center justify-end flex-grow-0 w-auto text-{{ theme.colors.main }}-900 dark:text-{{ theme.colors.main }}-100">
      <nav aria-label="Footer Navigation" class="px-2">
        <ul class="list-reset flex justify-end flex-1 md:flex-none items-center">
          {% for item in navigation.footer %}
          <li>
            <a class="inline-block pl-2 pr-1 no-underline hover:text-{{ theme.colors.accent }}-500" href="{{ item.url | safe }}">{{ item.label }}</a> /
          </li>
          {% endfor %}
        </ul>
      </nav>
      <ul class="flex flex-row flex-wrap list-none">
        {% for icon, link in social %}
          {% if link %}
          <li>
            <a href="{{ link | safe }}" class="block p-2 -mb-1 hover:text-{{ theme.colors.accent }}-500" aria-label="{{ icon | capitalize }}" rel="me noopener noreferrer" title="{{ icon }}" target="_blank">
              <svg class="inline-block h-5 w-5 sm:h-4 sm:w-4" fill="currentColor" role="img" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/icon-library.svg#icon-{{ icon }}"></use>
              </svg>
            </a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</footer>
