{% if key === "archives" %}
<div class="text-center pt-20 pb-12">
  <p class="text-sm md:text-base text-{{ theme.colors.accent }}-600 dark:text-{{ theme.colors.main }}-100 font-bold {{ fontMeta }}">{{ renderData.subheading | upper }}</p>
  <h1 class="font-bold break-normal text-3xl md:text-5xl">{{ renderData.heading }}</h1>
</div>
{% endif %}

{% if key === "tagged" %}
<div class="text-center pt-20 pb-12">
  <p class="text-sm md:text-base text-{{ theme.colors.accent }}-600 dark:text-{{ theme.colors.main }}-100 font-bold">{{ theme.tag.heading | upper }}</p>
  <h1 class="font-bold break-normal text-3xl md:text-5xl">“{{ tag }}”</h1>
</div>
{% endif %}
