---
pagination:
  data: collections.blog
  size: 12
  alias: posts
  addAllPagesToCollections: true
eleventyComputed:
  heading: >-
    {{ theme.blog.heading }}
  subheading: >-
    {{ theme.blog.subheading }}
  seo:
    excerpt: >-
      {{ theme.blog.seo_desc }}
    meta_title: >-
      {{ theme.blog.seo_title }}
layout: archive.njk
key: archives
permalink: "{{ theme.blog.slug }}/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
---
