---
pagination:
  data: collections.highlights
  size: 12
  alias: posts
  addAllPagesToCollections: true
renderData:
  title: "{{ theme.highlights.seo_title }}"
  desc: "{{ theme.highlights.seo_desc }}"
  heading: "{{ theme.highlights.heading }}"
  subheading: "{{ theme.highlights.subheading }}"
layout: archive.njk
key: archives
permalink: "{{ theme.highlights.slug }}/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
---
