---
title: Welcome to Stream Sites
permalink: index.html
meta_title: Home
meta_description: Stream Sites is a Eleventy static site generated with Netlify and powered with Netlify CMS + Identity
body_class: home
layout: default
---

<section class="flex-1">

  <h1 class="page-title text-5xl">{{ title }}</h1>

  <div class="content">
    {{ content | safe }}
  </div>

</section>
