---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
  - all
  - archive
  - blog
  - highlights
  - nav
  - page
  - post
  - tagList
  addAllPagesToCollections: true
eleventyComputed:
  archive_title: >-
    Tagged "{{ tag }}"
  heading: >-
    {{ theme.tag.heading }}
  subheading: >-
    {{ tag }}
  seo:
    excerpt: >-
      {{ theme.tag.seo_desc}} "{{ tag }}"
    meta_title: >-
      Tagged "{{ tag }}"
layout: default.njk
key: tagged
permalink: /tags/{{ tag | slug }}/
---
{#
You Are Here:
- Tag
- src/site/page/tag.njk

How It Works:
- On build, this generates 1 page for every Tag on the site
  as a postlist using your Theme template.

TODO:
- replace renderData with eleventyComputed with v.0.11
- paginate it the right way
#}

{% include theme.tag.template %}
