---
renderData:
  title: Tags
  layout: {{ theme.tags.layout }}
permalink: /tags/
---
{#
You Are Here:
- Tags
- src/site/page/tags.njk

How It Works:
- On build, this layout will generate 1 page with a list of all the tags from
  your posts (blog & highlights)

TODO:
- replace renderData with eleventyComputed with v.0.11
- Get tag quantity so it can be displayed OR ordered by volume.
#}
<section class="mx-auto">

  <h1 class="page-title text-3xl md:text-center md:text-5xl mb-16 lg:mb-24 lg:text-5xl">{{ theme.tags.heading }}</h1>

  <div class="tags flex flex-wrap md:justify-center">
    {% for tag in collections.tagList %}
        {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
        <a href="{{ tagUrl }}" class="tag pb-4 pr-4">{{ tag }}</a>
    {% endfor %}
  </div>

</section>
