---
permalink: atom.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>{{ site.name }}</title>
	<subtitle>{{ site.description }}</subtitle>
	<link href="{{ site.url }}{{ page.url }}" rel="self"/>
	<link href="{{ site.url }}/"/>
	<updated>{{ page.date | dateToIso }}</updated>
	<id>{{ site.url }}/</id>
	<author>
		<name>{{ site.author_name }}</name>
		<email>{{ site.author_email }}</email>
		<uri>{{ site.url }}</uri>
	</author>
	<generator uri="https://11ty.dev/">11ty</generator>
	<icon>{{ site.favicon }}</icon>
	<logo>{{ site.logo }}</logo>
	{%- for post in collections.archive %}
	{% set absolutePostUrl %}{{ post.url | url | absoluteUrl(site.url) }}{% endset %}
	<entry>
		<title>{{ post.data.title }}</title>
		<link rel="alternate" href="{{ absolutePostUrl }}"/>
		<updated>{{ post.date | rssDate }}</updated>
		<id>{{ absolutePostUrl }}</id>
		{%- if post.data.tags %}{%- for tag in post.data.tags %}{%- if tag != "post" %}
		<category term="{{ tag }}"/>
		{%- endif %}{%- endfor %}{%- endif %}
		{%- if post.data.tldr %}
		<summary>{{ post.data.tldr }}</summary>
		{%- endif %}
		<content type="html"><![CDATA[{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}]]></content>
	</entry>
	{%- endfor %}
</feed>
