---
permalink: /sitemap.xml
sitemapIgnore: true
---
{#
You Are Here:
- Sitemap
- src/site/sitemap.njk

How It Works:
- On build, this generates a sitemap of your Stream Site.

TODO:
- Use LAST MODIFIED time instead of default date.
- Add frequency rules for core pages vs pages vs posts
#}
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
<item>{{collections.all.length}}</item>
{%- for item in collections.all %}
{%- if item.data.sitemapIgnore !== true %}
  <url>
    <loc>{{site.url}}{{ item.url }}</loc>
    <lastmod>{{ item.date | readableDate('yyyy-LL-dd') }}</lastmod>
  </url>
{%- endif %}
{%- endfor %}
</urlset>
