{#
You Are Here:
- Posts List
- src/site/_includes/postslist/cards.njk

How It Works:
- On build, this is placed on every page with `{% include template %}`
- It uses conditions to show Blog data vs Video data
- This template can be selected for Archive, Blog, and Highlights

Dynamic Data:
- anything in {{ curly braces }} is a variable from frontmatter in a
  markdown file from src/site/blog or src/site/highlights
- aliases are defined in `{% set %}`
#}

{# Image Cards #}

{% for post in postslist %}

  {% set title = post.data.title %}
  {% set featuredImage = post.data.image_card %}
  {% set featuredImageAlt = 'Video clip thumbnail' or post.data.image_caption %}
  {% set postCredit = post.data.clipper or site.author_name %}
  {% set publishDate = post.data.date %}

  <article class="post mb-6 md:mx-3 rounded-lg overflow-hidden shadow-md hover:shadow-lg w-full md:w-45 lg:w-30">
    {% if featuredImage %}
    <figure class="relative overflow-hidden h-40 sm:h-70 md:h-56 lg:h-40 xl:h-48 w-full">
      <div class="absolute bottom-0 left-0 flex mx-3 z-10 lg:mb-1 flex-wrap">
        {% for tag in post.data.tags %}
          {%- if tag != "post" -%}
            <a href="/tags/{{ tag }}/" rel="tag">
              <p class="post-tag bg-{{ theme.colors.accent }}-600 text-{{ theme.colors.main }}-100 rounded-full py-1 px-3 text-xs mb-3 mr-1 whitespace-no-wrap font-bold">{{ tag }}</p>
            </a>
          {%- endif -%}
        {% endfor %}
      </div>
      <a href="{{ post.url }}">
        <img src="{{ featuredImage }}" alt="{{ featuredImageAlt }}" class="block rounded-t-lg object-cover absolute top-1/2 left-1/2 h-full w-full transform-center">
      </a>
    </figure>
    {% endif %}
    <a class="block text-{{ theme.colors.main }}-800 dark:text-{{ theme.colors.main }}-100 dark:bg-{{ theme.colors.main }}-800 no-underline px-6 py-8 h-full" href="{{ post.url }}">
      <h2 class="text-xl md:text-2xl mt-0 mb-3">{{ title }}</h2>
      <p class="text-sm md:text-sm">By {{ postCredit }}, <time datetime="{{ publishDate }}" class="mb-0">{{ publishDate | readableDate }}</time></p>
    </a>
  </article>

{% endfor %}
